SOURCES/xev-1.2.2.tar.bz2
SOURCES/xlsclients-1.1.4.tar.bz2
SOURCES/xlsfonts-1.0.6.tar.bz2
SOURCES/xvinfo-1.1.3.tar.bz2
SOURCES/xwininfo-1.1.4.tar.bz2
SOURCES/edid-decode-dcc8b834.tar.xz
SOURCES/xdpyinfo-1.3.2.tar.bz2
SOURCES/xlsatoms-1.1.2.tar.bz2
SOURCES/xprop-1.2.3.tar.bz2
